xsd/Services/XSIExecutive.xsd

<?xml version="1.0" encoding="UTF-8"?>


<!-- ************************************************************************ -->
<!--     Copyright (c) 2012 BroadSoft, Inc.  All rights reserved.             -->
<!-- ************************************************************************ -->
<!--                XSI  X M L  S C H E M A                                   -->
<!--               *************************                                  -->
<!-- This file defines the schema types and elements required by the          -->
<!-- Executive User Service interface in the                                  -->
<!-- http://schema.broadsoft.com/xsi namespace.                               -->
<!-- ************************************************************************ -->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schema.broadsoft.com/xsi"
  targetNamespace="http://schema.broadsoft.com/xsi"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
  version="1.0">

  <xs:include schemaLocation="../XSIDataTypes.xsd" />
  
  <xs:element name="Executive" type="Executive">
    <xs:annotation>
      <xs:documentation>
        Root element for the executive service.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="ExecutiveAssistants" type="ExecutiveAssistants">
    <xs:annotation>
      <xs:documentation>
        List of executive assistants.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="ExecutiveCallFiltering" type="ExecutiveCallFiltering">
    <xs:annotation>
      <xs:documentation>
        Get the filtering setting and the list of filtering criteria defined for an executive user.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="ExecutiveFilteringCriteria" type="ExecutiveFilteringCriteria">
    <xs:annotation>
      <xs:documentation>
        Filtering criteria for an executive user.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="ExecutiveAlerting" type="ExecutiveAlerting">
    <xs:annotation>
      <xs:documentation>
        Alerting information for an executive user.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="ExecutiveScreening" type="ExecutiveScreening">
    <xs:annotation>
      <xs:documentation>
        Screening information for an executive user.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
    <xs:complexType name="Executive">
    <xs:annotation>
      <xs:documentation>
        Provides details for the executive.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
       <xs:element name="assistants" type="xs:anyURI" minOccurs="0" />
       <xs:element name="filtering" type="xs:anyURI" minOccurs="0" />
       <xs:element name="screening" type="xs:anyURI" minOccurs="0" />
       <xs:element name="alerting" type="xs:anyURI" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ExecutiveAssistants">
    <xs:annotation>
      <xs:documentation>
        Provides details for the list of assistants assigned to the executive.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="allowOptInOut" type="xs:boolean"/>
      <xs:element name="assignedUsers" type="ExecutiveAssistantDetailsList"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ExecutiveAssistantDetailsList">
    <xs:annotation>
      <xs:documentation>
        Get the list of executives the executive assistant has been assigned to.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
      <xs:sequence>
        <xs:element name="userDetails" type="ExecutiveAssistantDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ExecutiveAssistantDetails">
    <xs:annotation>
      <xs:documentation>
        Details regarding an executive assistant. 
        The table has column headings: "User Id"  and "Opt In".
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="userId" type="UserId"/>     
      <xs:element name="optIn" type="xs:boolean"  minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ExecutiveCallFiltering">
    <xs:annotation>
      <xs:documentation>
        Provides details for filtering assigned to the Executive.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
          <xs:element name="enableFiltering" type="xs:boolean" minOccurs="0"/>
          <xs:element name="filteringMode" type="ExecutiveCallFilteringMode" minOccurs="0"/>
          <xs:element name="simpleFilterType" type="ExecutiveCallSimpleFilterType" minOccurs="0"/>
          <xs:element name="criteriaActivations" type="CriteriaActivationList" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="ExecutiveCallFilteringMode">
    <xs:annotation>
      <xs:documentation>
        Executive call filtering mode.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Simple"/>
      <xs:enumeration value="Advanced"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ExecutiveCallSimpleFilterType">
    <xs:annotation>
      <xs:documentation>
        Executive filter type in simple filtering mode.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="All Calls"/>
      <xs:enumeration value="All Internal Calls"/>
      <xs:enumeration value="All External Calls"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="ExecutiveFilteringCriteria">
    <xs:annotation>
      <xs:documentation>
        Provides details for filtering assigned to the Executive.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
          <xs:element name="filter" type="xs:boolean" minOccurs="0">
         <xs:annotation>
            <xs:documentation>
              When false, use executive filtering according to the criteria.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
          <xs:element name="criteria" type="CriteriaWithExecutiveFiltering" minOccurs="0">
             <xs:annotation>
            <xs:documentation>
               The criteria for each Executive filtering entry can be a list of up to 12 phone numbers or digit patterns, 
               a specified time schedule, and a specified holiday schedule. 
            </xs:documentation>
          </xs:annotation>
          </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="CriteriaWithExecutiveFiltering">
    <xs:annotation>
      <xs:documentation>
        Criteria for Executive service.
  
        Change History:
        R19.0 - Added
        R21.0 - Modified to include criteriaCallToNumber
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Criteria">
        <xs:sequence>
          <xs:element name="criteriaFromDn" type="ExecutiveCallFilteringCriteriaFromDn" minOccurs="0" />
          <xs:element name="criteriaCallToNumber" type="CallToNumberList" minOccurs="0" nillable="true"  />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="ExecutiveCallFilteringCriteriaFromDn"> 
    <xs:annotation>
      <xs:documentation>
        The from dn criteria used within an executive filtering criteria add/get request.
        
        Change History:
        R20.0 – Added.
        R21.0 - Modified to include criteriaCallToNumber
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fromDnCriteriaSelection" type="ExecutiveCallFilteringCriteriaDnSelection" minOccurs="0"/>
      <xs:element name="includeAnonymousCallers" type="xs:boolean" minOccurs="0" />
      <xs:element name="includeUnavailableCallers" type="xs:boolean" minOccurs="0" />
      <xs:element name="phoneNumberList" type="CriteriaPhoneNumberList" nillable="true" minOccurs="0" />
    </xs:sequence>

  </xs:complexType>
  
  <xs:simpleType name="ExecutiveCallFilteringCriteriaDnSelection">
    <xs:annotation>
      <xs:documentation>
        Selection criteria for a dn.      
        Change History:
        R20.0 – Added.
     </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Any"/>
      <xs:enumeration value="Any Internal"/>
      <xs:enumeration value="Any External"/>
      <xs:enumeration value="Specified Only"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="ExecutiveAlerting">
    <xs:annotation>
      <xs:documentation>
        Get the alerting setting of an executive.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
          <xs:element name="alertingMode" type="ExecutiveAlertingMode" minOccurs="0"/>
          <xs:element name="alertingCallingLineIdNameMode" type="ExecutiveAlertingCallingLineIdNameMode" minOccurs="0"/>
          <xs:element name="alertingCustomCallingLineIdName" type="ExecutiveAlertingCustomCallingLineIdName" minOccurs="0"/>
          <xs:element name="unicodeAlertingCustomCallingLineIdName" type="ExecutiveAlertingCustomCallingLineIdName" minOccurs="0"/>
          <xs:element name="alertingCallingLineIdPhoneNumberMode" type="ExecutiveAlertingCallingLineIdPhoneNumberMode" minOccurs="0"/>
          <xs:element name="alertingCustomCallingLineIdPhoneNumber" type="DN" minOccurs="0"/>
          <xs:element name="callPushRecallNumberOfRings" type=" NumberOfRingsTwoToTwenty " minOccurs="0"/>
          <xs:element name="nextAssistantNumberOfRings" type="NumberOfRingsTwoToTwenty" minOccurs="0"/>
          <xs:element name="enableRollover" type="xs:boolean" minOccurs="0"/>
          <xs:element name="rolloverWaitTimeSeconds" type="ExecutiveRolloverWaitTimeSeconds" minOccurs="0"/>
          <xs:element name="rolloverAction" type="ExecutiveRolloverActionType" minOccurs="0"/>
          <xs:element name="rolloverForwardToPhoneNumber" type="OutgoingDNorSIPURI" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
    <xs:complexType name="ExecutiveScreening">
    <xs:annotation>
      <xs:documentation>
        Get the screening setting of an executive.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
          <xs:element name="enableScreening" type="xs:boolean" minOccurs="0"/>
          <xs:element name="screeningAlertType" type="ExecutiveScreeningAlertType" minOccurs="0"/>
          <xs:element name="alertBroadWorksMobilityLocation" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertBroadWorksAnywhereLocations" type="xs:boolean" minOccurs="0"/>
          <xs:element name="alertSharedCallAppearanceLocations" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="ExecutiveScreeningAlertType">
    <xs:annotation>
      <xs:documentation>
        Executive screening alert type.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Silent"/>
      <xs:enumeration value="Ring Splash"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ExecutiveAlertingCallingLineIdNameMode">
    <xs:annotation>
      <xs:documentation>
        Executive alerting calling line Id name mode.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Executive"/>
      <xs:enumeration value="Executive-Originator"/>
      <xs:enumeration value="Originator-Executive"/>
      <xs:enumeration value="Originator"/>
      <xs:enumeration value="Custom"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ExecutiveAlertingCustomCallingLineIdName">
    <xs:annotation>
      <xs:documentation>
        Executive alerting calling line id name.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="61"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ExecutiveAlertingCallingLineIdPhoneNumberMode">
    <xs:annotation>
      <xs:documentation>
        Executive alerting calling line Id phone number mode.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Executive"/>
      <xs:enumeration value="Originator"/>
      <xs:enumeration value="Custom"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ExecutiveRolloverWaitTimeSeconds">
    <xs:annotation>
      <xs:documentation>
        Number of seconds to wait before rollover to next assistant.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="7200"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ExecutiveRolloverActionType">
    <xs:annotation>
      <xs:documentation>
        Executive rollover action.
        Change History:
        R20.0 – Added.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Voice Messaging"/>
      <xs:enumeration value="Forward"/>
      <xs:enumeration value="No Answer Processing"/>
    </xs:restriction>
  </xs:simpleType>
  
    <xs:simpleType name="ExecutiveAlertingMode">
    <xs:annotation>
      <xs:documentation>
        Executive alerting mode.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Simultaneous"/>
      <xs:enumeration value="Sequential"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>