xsd/Directory/XSIDirectories.xsd

<?xml version="1.0" encoding="UTF-8"?>

  <!-- ************************************************************************** -->
  <!--     Copyright (c) 2008 BroadSoft, Inc.  All rights reserved.               -->
  <!-- ************************************************************************** -->
  <!--                XSI  X M L  S C H E M A                                     -->
  <!--               *************************                                    -->
  <!-- This file defines the schema types and elements required by the            -->
  <!-- Directory interface in the http://schema.broadsoft.com/xsi name space.     -->
  <!--                                                                            -->
  <!-- The Elements and Types are defined in the Alphabetical Order with          -->
  <!-- grouping at the Element, Complex and Simple level respectively.            -->
  <!-- ************************************************************************** -->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schema.broadsoft.com/xsi"
  targetNamespace="http://schema.broadsoft.com/xsi" attributeFormDefault="unqualified"
  elementFormDefault="qualified" version="1.0">

  <xs:include schemaLocation="../XSIDataTypes.xsd" />

  <!--xs:element name="AccessDevices">
    <xs:annotation>
      <xs:documentation>
        List of Access devices associated with a user.
        Change History:
        R18.0 - Added
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accessDevice" type="AccessDevice" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element-->
    
  <xs:element name="AvailableFlexibleSeatingHosts">
    <xs:annotation>
      <xs:documentation>
          This service allows the retrieval of the list of available flexible seating 
          host stations for a user to use with the flexible seating guest service. 
          
          A flexible seating host can allow a flexible seating guest to be associated the 
          host's device, but using the guest's service profile.

          Change History:
          R20.0 - Added
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hostUserIdList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="userID" type="UserId" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="AvailableHotelingHosts">
    <xs:annotation>
      <xs:documentation>
          This service allows the retrieval of the list of available hoteling 
          host stations for a user to use with the hoteling guest service.
          
          A hoteling host can allow a hoteling guest to be associated the 
          host's device, but using the guest's service profile.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hostUserIdList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="userID" type="UserId" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="BroadWorksAnywherePortal">
    <xs:annotation>
      <xs:documentation>
        This command is used to retrieve the BroadWorks Anywhere Portal 
        numbers for a user.  These are the numbers that can be used to 
        initiate a BroadWorks call from a mobile phone using BroadWorks 
        Anywhere.
   </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="phoneNumbers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="phoneNumber" type="DN" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="CallCenters">
    <xs:annotation>
      <xs:documentation>
        This command is used to retrieve the list of call centers that a user 
        is associated with as an agent or as a supervisor.
        
        Change History:
        17.sp3 - numberCallsInQueue element added. 
                 numberCallsInQueue and serviceUserID regroup under callCenter 
                 element.        
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
      <xs:element name="callCenter" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="serviceUserID" type="UserId">
                <xs:annotation>
                  <xs:documentation>
                    The userid of the Call Center virtual subscriber.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="numberCallsInQueue" type="NonNegativeInt" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    This element is present only when the user is set to 
                    "Agent" and for which the user is the last staffing agent.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>              
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CallCenterAgents">
    <xs:annotation>
      <xs:documentation>
        This command is used by a Call Center supervisor user to retrieve the 
        list of Call Center Agents being supervised.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="callCenter" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="serviceUserID" type="UserId">
                <xs:annotation>
                  <xs:documentation>
                    The userid of the Call Center virtual subscriber.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="agentList" type="UserDetailInfoList" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    The list of supervised Call Center Agents belonging to the
                    Call Center. 
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    

  <xs:element name="CallCenterReportingServer">
    <xs:annotation>
      <xs:documentation> 
        This service provides the list of Call Center Reporting Servers.
        
        Change History
        R19- reportingServer element removed.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
    </xs:complexType>
  </xs:element>

  
  <xs:element name="Supervisors">
    <xs:annotation>
      <xs:documentation>
        This service provides a list of a user’s supervisors for route point 
        and all call centers with which a user is associated.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="callCenters" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="callCenter" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="serviceUserID" type="UserId">
                      <xs:annotation>
                        <xs:documentation>
                          The userid of the Call Center virtual subscriber.
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="supervisorList" type="UserDetailInfoList"
                      maxOccurs="unbounded" >
                      <xs:annotation>
                        <xs:documentation>
                          The list of Call Center Supervisors belonging to the
                          Call Center. 
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="routePoint" minOccurs="0">
          <xs:complexType>
            <xs:sequence>              
              <xs:element name="supervisorList" type="UserInfoList" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    The list of Call Center Supervisors belonging to the
                    Call Center. 
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CallLogs">
    <xs:annotation>
      <xs:documentation>
        User Call Log directory listing. Call Logs return the most
        recently received, missed, or placed calls for a user.
     </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="placed" type="CallLogsEntries" minOccurs="0" />
        <xs:element name="received" type="CallLogsEntries" minOccurs="0" />
        <xs:element name="missed" type="CallLogsEntries" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  

  <xs:element name="CustomContact">
    <xs:annotation>
      <xs:documentation>
        This Service will provide the list of Directories for a user.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="directory" type="DirectoryDetails" minOccurs="0"
          maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="DirectoryDetails">
    <xs:annotation>
      <xs:documentation>
        This is the Agent Profile for a particular directory entry. 
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="CustomContactDirectoryName" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="Directory">
    <xs:annotation>
      <xs:documentation>
				List of contacts associated with custom contact directory in a group.        
        Change History:
        R20.0 - Added startIndex, numberOfRecords, and totalAvailableRecords
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
       <xs:element name="startIndex" type="PositiveInt">
          <xs:annotation>
            <xs:documentation>
              The startIndex attribute refers to the position/pointer from 
              which the results will be given.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="numberOfRecords" type="NonNegativeInt">
          <xs:annotation>
            <xs:documentation>
              The numberOfRecords attribute refers to the number of results 
              returned in the response. The maximum value of number of 
              records will not be greater than the page size.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="totalAvailableRecords" type="NonNegativeInt">
          <xs:annotation>
            <xs:documentation>
              The totalAvailableRecords attribute refers to the total number
              of responses found for the query.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="contacts" minOccurs="0">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>
                This is the Agent Profile for a Particular Directory
              </xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="contact" type="ContactDetails" minOccurs="0"
                maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="EnhancedCallLogs">
    <xs:annotation>
      <xs:documentation>
        User Enhanced Call Log directory listing. Call Logs return the most 
        recently received, missed, or placed calls for a user.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="startIndex" type="PositiveInt" />
        <xs:element name="numberOfRecords" type="NonNegativeInt" />
        <xs:element name="placed" type="EnhancedCallLogsEntries" minOccurs="0" />
        <xs:element name="received" type="EnhancedCallLogsEntries" minOccurs="0" />
        <xs:element name="missed" type="EnhancedCallLogsEntries" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Enterprise">
    <xs:annotation>
      <xs:documentation>
        This service allows the retrieval of a user’s enterprise directory.
       
        This command supports paging of responses.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="startIndex" type="PositiveInt">
          <xs:annotation>
            <xs:documentation>
              The startIndex attribute refers to the position/pointer from 
              which the results will be given.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="numberOfRecords" type="NonNegativeInt">
          <xs:annotation>
            <xs:documentation>
              The numberOfRecords attribute refers to the number of results 
              returned in the response. The maximum value of number of 
              records will not be greater than the page size.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="totalAvailableRecords" type="NonNegativeInt">
          <xs:annotation>
            <xs:documentation>
              The totalAvailableRecords attribute refers to the total number
              of responses found for the query.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="enterpriseDirectory" type="UserAdditionalDetailsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Group">
    <xs:annotation>
      <xs:documentation>
        This service allows the retrieval of a user’s group directory.
        
        This command supports paging of responses.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="startIndex" type="PositiveInt">
          <xs:annotation>
            <xs:documentation>
              The startIndex attribute refers to the position/pointer from 
              which the results will be given.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="numberOfRecords" type="NonNegativeInt">
          <xs:annotation>
            <xs:documentation>
              The numberOfRecords attribute refers to the number of results 
              returned in the response. The maximum value of number of 
              records will not be greater than the page size.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="totalAvailableRecords" type="NonNegativeInt">
          <xs:annotation>
            <xs:documentation>
              The totalAvailableRecords attribute refers to the total number
              of responses found for the query.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="groupDirectory" type="UserAdditionalDetailsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Personal">
    <xs:annotation>
      <xs:documentation>
        The personal directory request retrieves all the personal 
        contacts of a user, sorted in alphabetical order by name.

        This command supports paging of responses.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="startIndex" type="PositiveInt" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              The startIndex attribute refers to the position/pointer from 
              which the results will be given.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="numberOfRecords" type="NonNegativeInt" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              The numberOfRecords attribute refers to the number of results 
              returned in the response. The maximum value of number of 
              records will not be greater than the page size.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="totalAvailableRecords" type="NonNegativeInt" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              The totalAvailableRecords attribute refers to the total number
              of responses found for the query.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="entry" type="PersonalEntry" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ContactDetails">
    <xs:annotation>
      <xs:documentation>
        This is the Agent Profile for a particular directory entry.
        
        Release Modified: 18.0
        Added IMPUserId.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="UserDetails">
        <xs:sequence>
          <xs:element name="name" type="LastFirstName" minOccurs="0" />
          <xs:element name="mobile" type="DN" minOccurs="0" />
          <xs:element name="title" type="Title" minOccurs="0" />
          <xs:element name="emailAddress" type="EmailAddress" minOccurs="0" />
          <xs:element name="department" type="DepartmentName" minOccurs="0" />
          <xs:element name="addressOfRecord" type="AddressOfRecord" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                In standalone mode, the address of record identifies a
                Line/Port for a device profile. In IMS mode, the address 
                of record identifies a public identity for an identity 
                profile.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="impId" type="IMPUserId" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CallLogsEntries">
    <xs:annotation>
      <xs:documentation>
        Call Log entries describing single/multiple placed or received 
        or missed calls.
        
        This type supports paging.  
   </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="startIndex" type="PositiveInt" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The startIndex attribute refers to the position/pointer from 
            which the results will be given.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfRecords" type="NonNegativeInt" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The numberOfRecords attribute refers to the number of results 
            returned in the response. The maximum value of number of 
            records will not be greater than the page size.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="callLogsEntry" type="CallLogsEntry" minOccurs="0"
        maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EnhancedCallLogsEntries">
    <xs:annotation>
      <xs:documentation>
        Enhanced Call Log entries describing single/multiple placed 
        or received or missed calls. 
        
        This type supports paging.  
        
        Release Modified: 17sp4. 
        In this release the enhanced call log entry can be an an 
        extended entry with more information. The entry is a now a 
        choice bewteen regular enhanced call log entry or enhanced 
        call log extended entry.
   </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="startIndex" type="PositiveInt" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The startIndex attribute refers to the position/pointer from 
            which the results will be given.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfRecords" type="NonNegativeInt" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The numberOfRecords attribute refers to the number of results 
            returned in the response. The maximum value of number of 
            records will not be greater than the page size.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="enhancedCallLogsEntry" type="EnhancedCallLogsEntry"
          minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="enhancedCallLogsExtendedEntry"
          type="EnhancedCallLogsExtendedEntry" minOccurs="0" maxOccurs="unbounded" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  

  <xs:complexType name="CallLogsEntry">
    <xs:annotation>
      <xs:documentation>
        Call Log entry describing a placed, received, or
        missed call.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="countryCode" type="CountryCode" minOccurs="0" />
      <xs:element name="phoneNumber" type="OutgoingDNorSIPURI" />
      <xs:element name="name" type="CallLogsEntryName" />
      <xs:element name="time" type="xs:dateTime" />
      <xs:element name="callLogId" type="CallLogId"/>      
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EnhancedCallLogsEntry">
    <xs:annotation>
      <xs:documentation>
        Enhanced Call Log entry describing a placed, received, or
        missed call.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="countryCode" type="CountryCode" minOccurs="0" />
      <xs:element name="phoneNumber" type="OutgoingDNorSIPURI" />
      <xs:element name="name" type="CallLogsEntryName" />
      <xs:element name="time" type="xs:dateTime" />
      <xs:element name="callLogId" type="CallLogId"/>            
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PersonalEntry">
    <xs:annotation>
      <xs:documentation>
        Phone List Entry Details.
        
        New personal directories can be created using this service.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="PhoneListEntryName" />
      <xs:element name="number" type="DN" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CallLogsEntryName">
    <xs:annotation>
      <xs:documentation>
        The calling/called party name as saved when a user
        received/placed a call.
   </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="62" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CustomContactDirectoryName">
    <xs:annotation>
      <xs:documentation>
        Custom Contact Directory name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="EnterpriseCommon">
    <xs:annotation>
      <xs:documentation>
        This service allows the retrieval of a user’s enterprise common phone 
        list for a user.
        
        Change History:
        R20.0 - Added startIndex, numberOfRecords, and totalAvailableRecords
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
      <xs:element name="startIndex" type="PositiveInt">
          <xs:annotation>
            <xs:documentation>
              The startIndex attribute refers to the position/pointer from 
              which the results will be given.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="numberOfRecords" type="NonNegativeInt">
          <xs:annotation>
            <xs:documentation>
              The numberOfRecords attribute refers to the number of results 
              returned in the response. The maximum value of number of 
              records will not be greater than the page size.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="totalAvailableRecords" type="NonNegativeInt">
          <xs:annotation>
            <xs:documentation>
              The totalAvailableRecords attribute refers to the total number
              of responses found for the query.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="commonPhoneEntry" type="PersonalEntry"
          minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="GroupCommon">
    <xs:annotation>
      <xs:documentation>
        This service allows the retrieval of a user’s group common phone list.
        
        Change History:
        R20.0 - Added startIndex, numberOfRecords, and totalAvailableRecords
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
       <xs:sequence>
    		<xs:element name="startIndex" type="PositiveInt">
          <xs:annotation>
            <xs:documentation>
              The startIndex attribute refers to the position/pointer from 
              which the results will be given.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="numberOfRecords" type="NonNegativeInt">
          <xs:annotation>
            <xs:documentation>
              The numberOfRecords attribute refers to the number of results 
              returned in the response. The maximum value of number of 
              records will not be greater than the page size.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="totalAvailableRecords" type="NonNegativeInt">
          <xs:annotation>
            <xs:documentation>
              The totalAvailableRecords attribute refers to the total number
              of responses found for the query.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="commonPhoneEntry" type="PersonalEntry"
          minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="CallingPresentationNumberSource">
    <xs:annotation>
      <xs:documentation>
        Identifies the source of the number used in the Calling 
        Presentation Number field.
  
        Change History:
        R17.sp4 - Added
        R18 - Added Department
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Configurable CLID" />
      <xs:enumeration value="DNIS" />
      <xs:enumeration value="Emergency" />
      <xs:enumeration value="Group" />
      <xs:enumeration value="Trunk Group" />
      <xs:enumeration value="User" />
      <xs:enumeration value="Department" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ConnectedNumberSource">
    <xs:annotation>
      <xs:documentation>
        The Source for the call provided in the most significant 
        contact from the NS.

        Change History:
        R17.sp4 - Added
        R18 - Added Department
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Configurable CLID" />
      <xs:enumeration value="Group" />
      <xs:enumeration value="User" />
      <xs:enumeration value="Department" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="NetworkType">
    <xs:annotation>
      <xs:documentation>
        Release Added: 17sp4
        The Type of Network for the call provided in the most significant
        contact from the NS
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Private" />
      <xs:enumeration value="Public" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="CallCategory">
    <xs:annotation>
      <xs:documentation>
        The Call Category for the call provided in the most significant
        contact from the NS.

        Change History:
        R17.sp4 - Added
    </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Local" />
      <xs:enumeration value="National" />
      <xs:enumeration value="Interlata" />
      <xs:enumeration value="Intralata" />
      <xs:enumeration value="International" />
      <xs:enumeration value="Private" />
      <xs:enumeration value="Emergency" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BasicCallType">
    <xs:annotation>
      <xs:documentation>
        The basic call type for the origination or
        termination.

        Change History:
        R17.sp4 - Added
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Group" />
      <xs:enumeration value="Enterprise" />
      <xs:enumeration value="Network" />
      <xs:enumeration value="Network URL" />
      <xs:enumeration value="Repair" />
      <xs:enumeration value="Emergency" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ServiceInvocationBasicCallType">
    <xs:annotation>
      <xs:documentation>
        The basic call type for service invocation.

        Change History:
        R17.sp4 - Added
    </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Group" />
      <xs:enumeration value="Enterprise" />
      <xs:enumeration value="Network" />
      <xs:enumeration value="Network URL" />
      <xs:enumeration value="Repair" />
      <xs:enumeration value="Emergency" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ServiceInvocationDisposition">
    <xs:annotation>
      <xs:documentation>
        Indicates the type of service invocation that
        caused the call to be detached.

        Change History:
        R17.sp4 - Added
        R19.0 - Modifed
        R21.sp1 - Modifed
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Automatic Hold/Retrieve" />
      <xs:enumeration value="Call Forward Always" />
      <xs:enumeration value="Call Forward Always Secondary" /> 
      <xs:enumeration value="Call Forward Busy" />
      <xs:enumeration value="Call Forward No Answer" />
      <xs:enumeration value="Call Forward Not Reachable" />
      <xs:enumeration value="Call Forward Selective" />
      <xs:enumeration value="Call Park" />
      <xs:enumeration value="Call Pickup" />
      <xs:enumeration value="Deflection" />
      <xs:enumeration value="Directed Call Pickup" />
      <xs:enumeration value="Distribution from Call Center" />
      <xs:enumeration value="Distribution from Hunt Group" />
      <xs:enumeration value="Distribution from Route Point" />
      <xs:enumeration value="Do Not Disturb" />
      <xs:enumeration value="Fax Deposit" />
      <xs:enumeration value="Find-me/Follow-me" />
      <xs:enumeration value="Group Night Forwarding" />
      <xs:enumeration value="Personal Assistant" /> 
      <xs:enumeration value="Sequential Ring" />
      <xs:enumeration value="Series Completion" />
      <xs:enumeration value="Simultaneous Ring" />
      <xs:enumeration value="Third Party Deflection" />
      <xs:enumeration value="Third Party Voice Mail Support" />
      <xs:enumeration value="Transfer Consult" />
      <xs:enumeration value="Trunk Group Forward Capacity Exceeded" />
      <xs:enumeration value="Trunk Group Forward Unreachable" />
      <xs:enumeration value="Trunk Group Forward Unconditional" />
      <xs:enumeration value="Voice Messaging" />
      <xs:enumeration value="Voice Mail Transfer" /> 
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RedirectingPresentationIndicator">
    <xs:annotation>
      <xs:documentation>
        The presentation indicator for the last redirecting party.

        Change History:
        R17.sp4 - Added
    </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Anonymous" />
      <xs:enumeration value="Anonymous Name" />
      <xs:enumeration value="Anonymous URI" />
      <xs:enumeration value="Public" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="RedirectingReason">
    <xs:annotation>
      <xs:documentation>
        The reason for the redirection by the last redirecting party.

        Change History:
        R17.sp4 - Added
    </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="EnhancedCallLogsSubscriberType">
    <xs:annotation>
      <xs:documentation>
        Type of BroadWorks Subscriber.

        Change History:
        R17.sp4 - Added
        R20.0 - Modified
        Added new enumeration VoiceXML
        R20.0 - Added Flexible Seating Host.
  </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Auto Attendant" />
      <xs:enumeration value="BroadWorks Anywhere Portal" />
      <xs:enumeration value="Call Center" />
      <xs:enumeration value="Hunt Group" />
      <xs:enumeration value="Route Point" />
      <xs:enumeration value="Find-me/Follow-me" />
      <xs:enumeration value="Flexible Seating Host" />
      <xs:enumeration value="VoiceXML"/>
      <xs:enumeration value="User" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="EnhancedCallLogsOutgoingDnis">
    <xs:annotation>
      <xs:documentation>
        Outgoing call center dnis name. In the format of call center id +
        ":" + DNIS name.

        Change History:
        R17.sp4 - Added
  </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="202" />
    </xs:restriction>
  </xs:simpleType>



  <xs:simpleType name="CommunicationBarringCallType">
    <xs:annotation>
      <xs:documentation>
        Communication Barring Call Type.

        Change History:
        R17.sp4 - Added
    </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="CommunicationBarringAlternateCallIndicator">
    <xs:annotation>
      <xs:documentation>
        Communication Barring Alternate Call Indicator.

        Change History:
        R17.sp4 - Added
    </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="VirtualOnNetCallTypeName">
    <xs:annotation>
      <xs:documentation>
        Virtual On-Net Call Type name.

        Change History:
        R17.sp4 - Added
    </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>



  <xs:simpleType name="OutgoingCallingPlanAuthorizationCode">
    <xs:annotation>
      <xs:documentation>
        Release Added: 17sp4
        Outgoing Calling Plan Authorization Code.

        Change History:
        R17.sp4 - Added
    </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="2" />
      <xs:maxLength value="14" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="PresentationIndicator">
    <xs:annotation>
      <xs:documentation>
        Presentation Indicator.

        Change History:
        R17.sp4 - Added
    </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Anonymous" />
      <xs:enumeration value="Anonymous Name" />
      <xs:enumeration value="Anonymous URI" />
      <xs:enumeration value="Anonymous Unavailable" />
      <xs:enumeration value="Public" />
      <xs:enumeration value="Unavailable" />
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="EnhancedCallLogsExtendedEntry">
    <xs:annotation>
      <xs:documentation>
        Enhanced Call Log extended entry describing a placed, received, 
        or missed call.
        Following elements(fields) are provided in the entry 
        depending on the call log entry type.

        Change History:
        R17.sp4 - Added
                - Modified: "callAuthorizationCode" element added
        R20.0   - Modified: "securityClassification" element added                
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="countryCode" type="CountryCode"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Country code of the User.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="callLogId" type="CallLogId">
        <xs:annotation>
          <xs:documentation>
            A Unique Identifier associated with call log entry.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="callId" type="CallId">
        <xs:annotation>
          <xs:documentation>
            Call Id associated with call log entry.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subscriberType" type="EnhancedCallLogsSubscriberType">
        <xs:annotation>
          <xs:documentation>
            The type of the BroadWorks subscriber associated with this call log
            entry.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dialedNumber" type="OutgoingDNorSIPURI"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The address as dialed by the user to reach terminating party 
            before any translations are applied. 
            
            This field is present only if the log entry is for a placed call.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="calledNumber" type="OutgoingDNorSIPURI"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The address to reach the terminating party after the transalation 
            by the Application Server. 
            
            This field is present only if the log entry is for a placed call.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="networkTranslatedAddress" type="OutgoingDNorSIPURI"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The address to reach the terminating party after the Network 
            Server translation. 
            
            This field is present only if the log entry is for a placed call
            and when the call is to an external party where the network 
            server is used.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="callingAssertedNumber" type="OutgoingDNorSIPURI"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The asserted number of the BroadWorks subscriber placing the call.
            The asserted number may be the user’s primary DN, mobile DN, the 
            group calling line ID (CLID), or the asserted number of a trunk 
            group pilot depending on the type of call and configuration of 
            the originating user. 
            
            This field is present only when an asserted number is available 
            for the call. 
            
            This field is always present for placed calls, but optional for 
            missed or received calls.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="callingPresentationNumber" type="OutgoingDNorSIPURI"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The address used in the calling line identity for the originating
            call, according to the policies in effect for the call.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="callingPresentationNumberSource"
        type="CallingPresentationNumberSource" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Identifies the source of the number used in the Calling 
            Presentation Number field. 
            
            This field is present only if the log entry is for a placed call 
            and the name is provided in the calling identity according to 
            the policies in effect for the originating call.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="callingPresentationName" type="CallLogsEntryName"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The name used in the calling line identity for the originating 
            call according to the policies in effect for the call. 
            
            This field is not present only when the name is provided in the
            callingLine Identity.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="callingPresentationIndicator" type="PresentationIndicator">
        <xs:annotation>
          <xs:documentation>
            The presentation indicator for the calling line identity.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="callingGroupId" type="GroupId"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The Group Id of the calling user. 
            
            This field is present only if the calling user is in same group 
            or enterprise as the terminating user.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="calledDirectoryName" type="CallLogsEntryName"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The Directory name of the called party. 
            
            This field is present only if the called party is a user in the 
            same group or enterprise of the calling party.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="calledGroupId" type="GroupId"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The group Id of the called party if the called party is a user 
            in same group or enterprise.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="connectedNumber" type="OutgoingDNorSIPURI"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The address used for the connected Identity of the connected party.  
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="connectedNumberSource" type="ConnectedNumberSource"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Identifies the source of the number used in the Connected Number 
            field.
            
            This field is only applicable to missed or received call log 
            entries.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="connectedName" type="CallLogsEntryName"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The name used for connected identity of the connected party. 
            
            This field is only present when a name is available for the 
            connected party and the Connected Line Identification Presentation 
            service is active for name presentation.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="connectedPresentationIndicator" type="PresentationIndicator"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The presentation Indicator for the terminating user’s connected 
            line Identity.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="connectedGroupId" type="GroupId"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The group Id of the called party. 
            
            This field is present only if the connected party is in the same 
            group or enterprise of the calling user.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="typeOfNetwork" type="NetworkType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The type of network for the call provided by network server.
            
            This field is present only if the log entry is for a placed call 
            and the Network Server has provided the type of network used for 
            origination.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="callCategory" type="CallCategory"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Call Category for the call provided by the Network Server.
            
            This field is present only if the log entry is for a placed call
            and the Network Server has provided the call category used for 
            origination.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="basicCallType" type="BasicCallType">
        <xs:annotation>
          <xs:documentation>
            The basic call type for the origination.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="configurableCallType" type="CommunicationBarringCallType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The call type for the call as provisioned on the Application 
            Server for the call type provided in the most significant 
            contact from the Network Server. 
            
            This field is present only if the log entry is for a placed call
            and the Network Server has provided the call type used for 
            origination.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="alternateCallIndicator"
        type="CommunicationBarringAlternateCallIndicator" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The alternate call indicator for the call as provisioned on the 
            Application Server. 
            
            This field is present only if the log entry is for a placed call 
            and the Network Server has provided the alternate call indicator 
            used for origination.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="virtualOnNetCallType" type="VirtualOnNetCallTypeName"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The Virtual On-Net (VON) Call Type for the call as configured for 
            the called VON user. 
            
            This field is present only if the log entry is for a placed call 
            and the call is to a VON destination.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="time" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
            When the call has started or answered in calendar time.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startTime" type="Timestamp">
        <xs:annotation>
          <xs:documentation>
            For placed call log entry, it is the time when the call was placed. 
            
            For missed or received call log entry, it is the time when the call 
            was presented to the terminating party.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="answerTime" type="Timestamp"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The time when the call was answered.
            
            This field is only present if the call was answered.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="releaseTime" type="Timestamp"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The time when the call was released. 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="detachedTime" type="Timestamp"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The time when the call was detached as result of service invocation.
            
            This field is present only if the call was detached.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="detachedAnswerTime" type="xs:long"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The time when detached call was answered. 
            
            This field is present only if the call was answered after being 
            detached.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="outgoingDnis" type="EnhancedCallLogsOutgoingDnis"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The DNIS information of a call center. 
            
            This field is present only if the log entry is for a placed 
            call and when the call is made to call center DNIS or 
            routepoint DNIS.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationDisposition" type="ServiceInvocationDisposition"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The service invocation code that caused the call to be detached. 
            
            This field is present only if the call is detached or released 
            because of a service invocation. 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationDialedNumber" type="OutgoingDNorSIPURI"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The original address as provided by the service invocation before
            translations are performed. 
            
            This field is present only when the service invocation results in 
            the call being moved to another party.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationCalledNumber" type="OutgoingDNorSIPURI"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The called address as a result of the translations performed on the
            service invocation dialed number. 
            
            This field is present only when the service invocation results in 
            the call being moved to another party. 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationNetworkTranslatedAddress"
        type="OutgoingDNorSIPURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The network-translated address provided in the most significant
            contact from the Network Server. 
            
            This field is present only when the service invocation results in 
            the call being moved to another external party where network server 
            is used.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationTypeOfNetwork" type="NetworkType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The type of network for the service invocation provided in the most
            significant contact from the Network Server. 
            
            This field is present only when the Network Server is used and it 
            provides a type of network with the contact used for the service 
            invocation.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationCallCategory" type="CallCategory"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The call category for the service invocation provided in the most 
            significant contact from the Network Server. 
            
            This field is present only when the Network Server is used and it 
            provides a call type with the contact used for the service 
            invocation.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationBasicCallType" type="ServiceInvocationBasicCallType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The basic call type for the service invocation. 
            
            This field is present only when the Network Server is used and it 
            provides a call category with the contact used for the service 
            invocation.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationConfigurableCallType"
        type="CommunicationBarringCallType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The call type for the service invocation as provisioned on the
            Application Server. 
            
            This field is present only if the Network Server has provided the
            call type used for service invocation.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationAlternateCallIndicator"
        type="CommunicationBarringAlternateCallIndicator" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The alternate call indicator for the service invocation as
            provisioned on the Application Server. 
            
            This field is present only if the Network Server has
            provided the alternate call indicator used for service
            invocation.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationVirtualOnNetCallType"
        type="VirtualOnNetCallTypeName" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The Virtual On-Net (VON) Call Type for the service invocation as
            configured for the called VON user. 
            
            This field present only when the service invocation is to a VON 
            destination.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationCalledDirectoryName"
        type="CallLogsEntryName" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The name of the called party for the service invocation when that
            party is in the same group/enterprise as the call log owner.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceInvocationCalledGroupId" type="GroupId"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The group ID of the called party for the service invocation when that
            party is in the same group or enterprise.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="redirectingNumber" type="OutgoingDNorSIPURI"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The address of the last redirecting party. This field is present only
            if the redirecting information is provided in incoming call.
            
            This field is only applicable to missed or received call log
            entries.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="redirectingName" type="CallLogsEntryName"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The name of the last redirecting party. 
            
            This field is present only if the redirecting information is 
            provided in incoming call. This field is only applicable to missed 
            or received call log entries.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="redirectingPresentationIndicator"
        type="RedirectingPresentationIndicator" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The presentation indicator for the last redirecting party. 
            
            This field is present only if the redirecting information is 
            provided in incoming call.
            
            This field is only applicable to missed or received call log 
            entries.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="redirectingReason" type="RedirectingReason"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The reason for the redirection of the last redirection. 
            
            This field is present only if the redirecting information is 
            provided in incoming call. 
            
            This field is only applicable to missed or received call log 
            entries.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accountAuthorizationCode" type="OutgoingCallingPlanAuthorizationCode"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The account/authorization code for the call. 
            
            This field is present only if the account/authorization code is in 
            effect for the call.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="callAuthorizationCode" type="OutgoingCallingPlanAuthorizationCode"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The authorization code entered for the call. It is present only
            if an authorization code is in effect for the call. Note that this
            code is different from the one captured in the accountAuthorizationCode
            field, which is specifically for the account/authorization code
            service. Instead, it contains the code entered for other services,
            such as Communication Barring and Enhanced Outgoing Call Plan.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="securityClassification" type="NonEmptyToken"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The security classification level for the call.
            This field is present only if the log entry is for 
            a placed or received call and if the user has the 
            Security Classification service assigned.
          </xs:documentation>
        </xs:annotation>
      </xs:element>            
    </xs:sequence>
  </xs:complexType>
</xs:schema>
